@use "src/styles/_mixins.scss";
@use "forms";

.wrapper {
  @include forms.border;
  @include forms.size;
  max-width: 100%;
  @include mixins.flex(space-between);
  gap: 8px;
}

.btnWrapper {
  @include mixins.flex;
  gap: 8px;
}
