@use "src/styles/_mixins.scss";
.header {
  @include mixins.desktop {
    @include mixins.flex(flex-start);
    gap: 40px;
  }

  @include mixins.mobile {
    display: grid;
    gap: 20px;
  }
}

.link {
  font-weight: var(--normal);
}
