@use "src/styles/_mixins.scss";
.actions {
  flex-wrap: wrap;
  gap: 12px;
}

.end {
  @include mixins.flex(flex-end);
}

.center {
  @include mixins.flex;
}

.stretch {
  @include mixins.flex(stretch);

  > * {
    flex: 1;
  }
}
