@use "src/styles/_mixins.scss";
.item {
  @include mixins.inline-flex;

  color: var(--button-primary-bg);
  font-size: var(--font-size-small);
  font-weight: var(--bold);
  gap: 2px;
  white-space: nowrap;
}

.icon {
  @include mixins.flex;
  font-size: 18px;
}

.disabled {
  @include mixins.disabled;
}

.chevron {
  @include mixins.flex;
  font-size: 16px;
}
